*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --celula-tamanho: 100px;
    --marcacao-tamanho: calc(var(--celula-tamanho) * .9);
}

body {
    margin: 0;
    background-color: #23252f;
}

.tabuleiro {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
  }

.celula {
    width: var(--celula-tamanho);
    height: var(--celula-tamanho);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.celula:first-child,
.celula:nth-child(2),
.celula:nth-child(3) {
    border-top: none;
}

.celula:nth-child(3n + 1) {
    border-left: none;
}

.celula:nth-child(3n + 3) {
    border-right: none;
}

.celula:nth-child(7),
.celula:nth-child(8),
.celula:last-child {
    border-bottom: none;
}

.celula.x,
.celula.o {
    cursor: not-allowed;
}

.celula.x::before,
.celula.x::after,
.celula.o::before {
    background-color: white;
}

.tabuleiro.x .celula:not(.x):not(.o):hover::before,
.tabuleiro.x .celula:not(.x):not(.o):hover::after,
.tabuleiro.o .celula:not(.x):not(.o):hover::before {
    background-color: #353740;     
}

.celula.x::before,
.celula.x::after,
.tabuleiro.x .celula:not(.x):not(.o):hover::before,
.tabuleiro.x .celula:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--marcacao-tamanho) * .15);
    height: var(--marcacao-tamanho);
}

.celula.x::before,
.tabuleiro.x .celula:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.celula.x::after,
.tabuleiro.x .celula:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.celula.o::before,
.celula.o::after,
.tabuleiro.o .celula:not(.x):not(.o):hover::before,
.tabuleiro.o .celula:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.celula.o::before,
.tabuleiro.o .celula:not(.x):not(.o):hover::before {
    width: var(--marcacao-tamanho);
    height: var(--marcacao-tamanho);
}

.celula.o::after,
.tabuleiro.o .celula:not(.x):not(.o):hover::after {
    width: calc(var(--marcacao-tamanho) * .7);
    height: calc(var(--marcacao-tamanho) * .7);
    background-color: #23252f;
}